:root {
    --swiper-navigation-color: #D60B51;
  }

  html {
    scroll-behavior: smooth;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    position:absolute!important;
    z-index: 50!important;
  }
  .swiper-slide-shadow {
    opacity: 0!important;
  }

#animate-move {
    animation: move linear infinite alternate;
    animation-duration: 4s;
}

.animate-appear {
    animation: appear ease-out forwards;
    animation-duration: 1s;
}

.animate-nav:after {
    content: "";
    position: absolute;
    left: 5px;
    bottom: -4px;
    width: 20px;
    height: 4px;
    transition: 0.5s;
}

.animate-nav:hover:after{
    width: 94%;
}

@keyframes move {
    0% { transform:  translateX(0px);}
    100% { transform:  translateX(50vw);}
}

@keyframes appear {
    0% { opacity: 0;}
    100% { opacity: 1;}
}